@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;900&family=Rubik+Mono+One&display=swap');

$base-color: #FFFFFF;
$secondary-color: #FE6928;
$bg-base-color: #000524;
$bg-secondary-color: #838C95;
$bg-darker-color: #191919;
$bg-darkest-color: #0D0D0D;
$complementary-color: #1abc9c;

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s all;
}

html, body, #root, .App {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    min-width: 320px;
    min-height: 667px;
    max-height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $bg-darker-color;
}

.dynamicBg {
    width: 100vw;
    height: 150vh;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, $bg-darker-color), url(./assets/background.jpg);
    background-size: cover;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    transition: 0.5s all;
    z-index: 3;
}

nav.hidden {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
}

nav.bg-hidden {
    background-color: rgba(0, 0, 0, 0);
}

nav.shown {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(4px);
}

.modal {
    display: none;
}

nav {
    ul {
        position: relative;
        width: 480px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, .5);

        div.dynamicBorder {
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 1px;
            background-color: $base-color;
        }
    }

    ul {
        a {
            list-style: none;
            display: inline-block;
            width: 20%;
            margin-top: 24px;
            margin-bottom: 24px;
            font-size: small;
            font-weight: 700;
            letter-spacing: 2.5px;
            text-align: center;
            color: $base-color;
        }
    }
    

    li:hover {
        color: $secondary-color;
        cursor: pointer;
        transform: scale(1.1);
    }

    li:active {
        color: $secondary-color;
        transform: scale(0.95);
    }
}

header {
    width: 100%;
    height: 100vh;
    min-height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

header {
    svg.svg-btn-down {
        width: 48px;
        fill: $base-color;
        margin: 40px;
    }

    svg.svg-btn-down:hover {
        transform: scale(1.1);
        fill: $secondary-color;
        cursor: pointer;
    }

    svg.svg-btn-down:active {
        transform: scale(0.95);
        fill: $secondary-color
    }

    section {
        height: 300px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;
        text-align: center;
    }

    section {
        a {
            text-decoration: none;
        }

        h1 {
            color: $base-color;
            font-size: 64px;
            font-weight: 400;
            font-family: 'Rubik Mono One', sans-serif;
        }

        h3 {
            div {
                display: flex;
                flex-wrap: wrap;
            }
            div {
                span {
                    display: inline-block;
                    color: $base-color;
                    font-family: "Montserrat", sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }

        hr {
            color: $base-color;
            width: 350px;
            height: 0;
            border: 1px solid $base-color;
            background-color: $base-color;
        }

        div {
            width: 350px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        div {
            div {
                svg {
                    fill: $base-color;
                    width: 24px;
                    margin: 5px;
                }

                span {
                    color: $base-color;
                }
            }

            div {
                width: 150px;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-size: 200% 100%;
                background-image: linear-gradient(to right, $secondary-color 50%, $complementary-color 50%);
            }

            div:hover {
                transform: scale(1.1);
                background-position: -100% 0;
                cursor: pointer;
            }

            div:active {
                transform: scale(0.95);
                background-position: -100% 0;
            }
        }
    }
}

.collapsedBg {
    animation: 1.5s collapseBgBig;
}

section.about {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.about {
    div.left {
        width: 30%;
        height: 250px;
        margin: 50px;
        margin-top: 75px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    div.left {
        div {
            width: 120px;
            height: 120px;
            border-radius: 60px;
            border: 1px solid $base-color;
        }

        div:after {
            position: relative;
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            left: 60px;
            top: -5px;
            border-radius: 5px;
            background-color: $base-color;
        }
    }

    div.right {
        width: 70%;
        height: auto;
        margin: 50px;
        margin-top: 75px;
        letter-spacing: 0.2vw;
        line-height: 30px;
    }

    div.right {
        h1 {
            color: $base-color;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        h3 {
            color: $base-color;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 25px;
        }

        div {
            width: 250px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-size: 200% 100%;
            background-image: linear-gradient(to right, $secondary-color 50%, $complementary-color 50%);
        }

        div:hover {
            transform: scale(1.1);
            background-position: -100% 0;
            cursor: pointer;
        }

        div:active {
            transform: scale(0.95);
            background-position: -100% 0;
        }

        div {
            svg {
                fill: $base-color;
                width: 24px;
                margin: 5px;
            }

            span {
                color: $base-color;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

section.resume {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.resume {
    div.education, div.skills {
        width: 80%;
        margin: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.education, div.skills {
        div.title {
            margin: 20px;
            padding-bottom: 10px;
            text-align: center;
            color: $base-color;
        }

        div.title {
            span {
                font-size: 24px;
                font-weight: 700;
            }
        }

        div {
            width: 70%;
        }

        div {
            div {
                width: 100%;
                margin: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }

    div.education {
        div.title {
            width: 300px;
        }

        div.educationList {
            position: relative;
            border-left: 1px solid $base-color;
        }

        div.educationList::after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            left: -6px;
            top: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
  
            border-bottom: 10px solid $base-color;
        }

        div.educationList::before {
            content: "";
            display: block;
            position: absolute;
            width: 9px;
            height: 3px;
            left: -5px;
            top: 95%;
            background-color: $base-color;
        }

        div {
            div {
                h1 {
                    color: $base-color;
                    margin-bottom: 15px;
                }

                h2 {
                    color: $bg-secondary-color;
                    font-weight: 400;
                }
            }
        }
    }

    div.skills {
        width: 60%;
    }

    div.skills {
        div {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        div.title {
            width: 250px;
            margin-bottom: 0;
        }
        
        div {
            a {
                margin: 10px 8px;
            }

            a {
                span {
                    font-size: 20px;
                }
            }
        }
    }
}

.roundButton {
    display: inline-block;
    height: auto;
    padding: 10px;
    border-radius: 24px;
    border: 1px solid $base-color;
    text-decoration: none;
    background-size: 210% 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, $base-color 50%);

    span {
        color: $base-color;
        font-size: 24px;
        font-weight: 700;
    }
}

.roundButton:hover {
    background-position: -94%;
    transform: scale(1.05);
    
    span {
        color: $bg-darker-color;
    }
}

section.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-color;
}

section.works {
    div.title {
        width: 380px;
        margin-bottom: 0;
    }

    div.working, div.learning {
        margin: 0px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.working, div.learning {
        div.title {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            padding: 10px;
        }

        div.projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        div.projects {
            div.project {
                width: 450px;
                height: 300px;
                position: relative;
                overflow: hidden;
                color: $base-color;
                transition: 0.8s all ease-in-out;
            }

            a {
                width: 450px;
                height: 300px;
                margin: 15px 50px 75px 50px;
                text-decoration: none;
            }

            div.project {
                div.projectBg {
                    background-size: cover;
                    background-position: center;
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    right: 0;
                    bottom: 0;
                    filter: sepia(60%);
                    transition: 0.8s ease-out all;
                }
            }

            div.project:hover {
                transform: scale(0.95);
            }

            div.project:hover {
                div.projectBg {
                    filter: none;
                    transform: scale(1.2);
                }
            }

            div.project:active {
                transform: scale(1.05);
            }

            div.project {
                div.projectDescription {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: $bg-darkest-color;
                    opacity: 0.5;
                }

                div.projectDescription {
                    span {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    svg {
        width: 24px;
        fill: $bg-secondary-color;
    }

    svg.svg-btn-up {
        width: 48px;
        position: absolute;
        top: -24px;
        left: calc(50% - 24px);
        fill: $bg-secondary-color;
    }

    svg.svg-btn-up:hover {
        transform: scale(1.1);
        fill: $base-color;
        cursor: pointer;
    }

    svg.svg-btn-up:active {
        transform: scale(0.95);
        fill: $base-color;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        ul {
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            padding: 0;
        }
    
        li {
            width: 20%;
            text-align: center;
            display: inline-block;
        }

        svg:hover {
            fill: $complementary-color;
            transform: scale(1.1);
            cursor: pointer;
        }

        svg:active {
            fill: $complementary-color;
            transform: scale(0.95);
        }
    
        .svg-btn-git {
            transform: scale(1.7);
        }

        .svg-btn-git:hover {
            transform: scale(1.8);
        }

        .svg-btn-git:active {
            transform: scale(1.65);
        }
    }

    span {
        margin: 15px;
        margin-bottom: 35px;
    }
    
    span {
        * {
            display: inline;
        }

        a, h3 {
            color: $base-color;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }

        a:hover {
            color: $complementary-color;
        }

        a:active {
            color: $complementary-color;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        ul {
            width: 80%;
        }

        ul {
            a {
                width: auto;
                font-size: 12px;
            }
        }
    }

    .collapsedBg {
        animation: 1.5s collapseBgSmall;
    }

    section.about {
        div.left {
            display: none;
        }
    }

    section.resume {
        div.education, div.skills {
            div {
                width: 80%;
            }
        }

        div.skills {
            div {
                a {
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 548px) {
    header {
        section {
            h1 {
                font-size: 36px;
            }

            h3 {
                div {
                    span {
                        font-size: 24px;
                    }
                }
            }

            hr {
                width: 60%;
            }

            div {
                width: 250px;
            }

            div {
                div {
                    width: 100px;
                }
            }
        }
    }

    section.about {
        div.right {
            h3 {
                font-size: 16px;
                letter-spacing: 0.1vw;
            }
        }
    }

    section.resume {
        margin-bottom: 50px;
    }

    section.resume {
        div.education, div.skills {
            div {
                width: 100%;
            }

            div {
                div {
                    .progressbar {
                        width: 90%;
                    }
                }

                div {
                    margin: 10px;
                    margin-top: 35px;
                }
            }
        }

        div.skills {
            div {
                a {
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    section.works {
        div.working, div.learning {
            div.title {
                width: 275px;
                padding: 10px 0;
            }

            div.projects {
                a, div.project {
                    width: 400px;
                    height: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    header {
        height: 100%;
    }

    header {
        section {
            height: 350px;
            margin-bottom: 25px;
        }

        h3 {
            div {
                width: 234px;
            }
        }
    }

    section.works {
        div.working, div.learning {
            div.projects {
                a, div.project {
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }

    section.resume {
        div.skills {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 370px) {
    section.works {
        div.working, div.learning {
            div.title {
                width: 250px;
            }

            div.projects {
                a, div.project {
                    width: 250px;
                    height: 150px;
                }
            }
        }
    }

    section.resume {
        div.skills {
            div {
                a {
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@keyframes collapseBgSmall {
    0% {
        clip-path: polygon(50% 10%, 70% 35%, 50% 60%, 30% 35%);
    }

    50% {
        clip-path: polygon(50% 10%, 70% 35%, 50% 60%, 30% 35%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes collapseBgBig {
    0% {
        clip-path: polygon(50% 10%, 60% 35%, 50% 60%, 40% 35%);
    }

    50% {
        clip-path: polygon(50% 10%, 60% 35%, 50% 60%, 40% 35%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}